:root {
  --color-blue:#B1F8F2;
  --color-grey:#6B7D7D;
  --color-black:#2F0A28;
  --color-red:#FE5F55;
  --color-brown:#CD533B;
}
/*-----------import font------------*/
@font-face {
  font-family: 'Hexa';
  src: url(./assets/fonts/Hexa\ 2.ttf);
}

@font-face {
  font-family: 'Cafe';
  src: url(./assets/fonts/Louis\ George\ Cafe.ttf);
}

/*-----------Styling------------*/

/*------------Navbar------------*/
#logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 10vw;
  height: 100x;
}

.navbar {
  background-color: var(--color-red);
  font-family: 'Hexa';
  font-size: 2.5vw;
}


/*------------About-------------*/

main {
  background-color: var(--color-blue);
}

#profilePic {
  opacity: 90%;
  border: 3px solid var(--color-grey);
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
}

#aboutCol {
  padding-top: 5vh;
  color: var(--color-grey);
  font-style: italic;
  text-align: center;
  font-stretch: expanded;
  font-family:'Cafe';
  font-size: 20px;
}

#resumeImg {
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  border: 2px solid var(--color-grey);
}

#portCol {
  border-top: 2px solid var(--color-grey);
  text-align: center;
  margin-top: 40px;
}

#portCol a{
  font-size: 20px;
  font-family: 'Cafe';
  text-decoration: none;
  color: var(--color-red);
  text-shadow: .25px .25px var(--color-brown);
}

#portImage {
  border: 2px solid var(--color-grey);
  margin-top: 20px;
  display:grid;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

#contact-form {
  padding: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-black);
  border-top: 2px solid var(--color-grey);
  margin-top: 80px;
}

#contact-form input{
  border: 1px solid var(--color-brown);
  color: var(--color-blue);
  background-color:var(--color-grey);
  opacity: 50%;
  display:grid;
  width: 40vw;
}

#contact-form label{
  display:grid;
  width: 40vw;
}

#contact-form button {
  color: var(--color-blue);
  background-color: var(--color-red);
  border-color: var(--color-grey);
}

#contact-form textarea {
  border: 1px solid var(--color-brown);
  color: var(--color-blue);
  background-color: var(--color-grey);
  opacity: 50%;
}

#downloadBtn {
  background-color: var(--color-red);
  border: 2px solid var(--color-grey);
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#footerBar {
  background-color: var(--color-red);
  text-align: center;
}

#footerBar a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-black);
}

#footimg {
  width: 7vw;
}



/*---------Media Breaks------------ */

@media only screen and (max-width: 767px) {



}

